body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}


div:first-of-type {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

div:last-of-type {
    display: grid;
    justify-items: center;
    gap: 10px;
    width: 100%;
}

form {
    border: 2px solid #A38138;
    padding: 60px;
    border-radius: 8px;
    background-color: #F8D68D;
    color: #A38138;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 12px;
}

input[type="submit"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #A38138;
    color: #F8D68D;
}