.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.grid-container > div {
    border: 2px solid #A38138;
    padding: 20px;
    border-radius: 8px;
    background-color: #F8D68D;
}

.grid-container > div h3 {
    margin-top: 0;
}