a:link, a:visited {
  background-color: #4cf43600;
  color: #F8D68D;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: #A38138;;
  border: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #F8D68D;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

nav {
  background-color: #957633;
  overflow: hidden;
}
nav a:hover {
  background-color:  #F8D68D;
  color: #A38138;

}