@font-face {
    font-family: 'ringbearer';
    src: url('fonts/ringbearer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ringbearer';
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: rgb(11, 48, 5);
    background-color: rgb(243, 187, 65);
}

header {
    background-color: rgba(243, 187, 65);
    color: #fff;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'ringbearer';
    font-size: 2.5rem;
    margin: 0.5rem 0;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: 'ringbearer';
    color: #A38138;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: 'ringbearer';
    color: #A38138;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: 'ringbearer';
    color: #A38138;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'ringbearer';
    font-size: 1rem;
    margin-bottom: 1rem;
}

#getsingletext {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'ringbearer';
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #ffffff;
}

#getsinglewriter {

    font-size: 1 rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: right;
    margin-bottom: 0rem;
    margin-right: 25%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 1rem;
    color: #ffffff;
}


.randomQuote {
    background: rgb(41, 41, 41);
    background: linear-gradient(210deg, rgb(36, 36, 36) 0%, rgb(63, 63, 63) 79%, rgb(36, 36, 36) 100%);
    opacity: 40%;
}

#whitecontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1rem;
}

#whitecontainer>div {
    background-color: rgb(243, 179, 41);
    opacity: 100%;
    width: calc(20% - 20px);
    margin: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10%;
}

#whitecontainer>div {
    display: none;
}

@media (max-width: 600px) {
    #whitecontainer>div:nth-child(-n+2) {
        display: flex;
        width: calc(50% - 20px);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #whitecontainer>div:nth-child(-n+3) {
        display: flex;
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 1025px) {
    #whitecontainer>div {
        display: flex;
        width: calc(20% - 20px);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
        color: #A38138;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        color: #A38138;
    }

    h3 {

        color: #A38138;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 0.5rem;
    }

    #getsingletext {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #getsinglewriter {

        font-size: 1.8rem;
        margin-bottom: 0.5rem;

    }

    #whitecontainer>div {
        width: calc(100% - 20px);

    }

    #getsinglewriter {

        font-size: 1rem;
        margin-bottom: 0.5rem;

    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
        color: #A38138;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        color: #A38138;
    }

    h3 {

        color: #A38138;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }


    p {
        font-size: 1rem;
    }

    #getsingletext {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    #getsinglewriter {

        font-size: 1.5rem;
        margin-bottom: 1rem;

    }

    #whitecontainer>div {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 4rem;
        color: #A38138;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        color: #A38138;
    }

    h3 {

        color: #A38138;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }


    p {
        font-size: 2rem;
    }

    #getsingletext {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    #getsinglewriter {

        font-size: 2 rem;
        margin-bottom: 0.5rem;

    }

    #whitecontainer>div {
        width: calc(20% - 20px);
    }

}

.button1 {
    background-color: #4cf43600;
    color: #F8D68D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;

    h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #A38138;
        text-decoration: underline;
    }

    form {
        border: 4px solid #A38138;
        padding: 50px;
        border-radius: 8px;
        background-color: #F8D68D;
        color: #A38138;
        text-align: center;
    }

    #create {
        background-color: #F8D68D;
    }

    label {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #A38138;

    }

}

body {
    cursor: url('pics/sword.png'), auto;
}

a:hover,
button:hover {
    cursor: url('pics/sword2.png'), auto;
}